<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Student display </title>
</head>
<body>
    <nav>
        <a href="#" class="logo">Mua'ad Bin Jabal</a>
        <ul>
            <li>
                <a href="{% url 'Home'%}">Home</a>
                <a href="{% url 'Form'%}">Register Student</a>
                <a href="{%url 'students'%}">View Registred Student</a>
                <a href="{%url 'search'%}">Search Student</a>
            </li>
        </ul>
    </nav>
    <div class="container">
       <div class="taple">
        <h3>Student Registred</h3>
        <table>
            <tr class="data">
                <th>ID</th>
                <th>NAME</th>
                <th>Date Birth</th>
                <th>Facult</th>
                <th>Phone</th>
                <th>ADDRESS</th>
                <th>Relative</th>
            </tr>
            {%for x in pro%}
            <tr>
                <td>{{x.student_id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.Date}}</td>
            <td>{{x.Faculty}}</td>
            <td>{{x.Phone}}</td>
            <td>{{x.ADDRESS}}</td>
            <td>{{x.nex}}</td>
            </tr>


            {%endfor%}
        </table>
       </div>
    </div>
    <footer>
        &copy; Mua'ad Bin Jabal 2021
    </footer>
</body>
</html>